name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Swift Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Swift
        uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: '5.9'

      - name: Show Swift Version
        run: swift --version

      - name: Run Tests
        run: swift test
